# Ignore the node_modules directory
node_modules/


# Ignore Logs
logs
*.log

# Ignore the build directory
/*dist/
/assets/**/*.js
/assets/**/*.scss

!/assets/js/cookie/*.js
!/assets/js/gift/*.js
!gift.js
!gift.scss

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*