# Ignore the node_modules directory
node_modules/


# Ignore Logs
logs
*.log

# Ignore the build directory
/dist
/testdist
/giftdist
/05.04.2021 - dist
/19-02-2021 - dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*