
@import "./variables";

#block-search {
  background: transparent;
  box-sizing: border-box;
}

.tl-container {
  padding: 0 30px;
}

#rec237268311,
#rec237268312,
#rec237268313,
#rec237268314,
#rec237268315,
#rec205389462,
#rec221644218,
#rec201737164,
#rec205378218,
#rec256350786,
#rec256350921,
#rec256350980,
#rec256351085,
#rec256385035,
#rec256375133,
#rec256398161
{
z-index: 35!important;
position: relative;
}


#rec256350786{
  @include respond-to(mobile){ padding-top: 0px!important; }
}

#rec256375133 .t157__text,
#rec205389462 .t157__text{
  
  @include respond-to(mobile){ font-size: 18px!important; }
}

#rec256358506{
z-index: -1!important;
position: relative;
margin-top: -200px;
}

.js-product-name{
  font-size: 34px!important;
}


#rec238212934{
display: none;
}

#rec238212934.active{
display: block;
z-index: 38!important;
position: fixed;
width: 100vw;
height: 10vh;
bottom: 0;
}


#rec229575544,
#rec229575566{
    z-index: 50px;
    position: relative;
}

.tn-elem__2372683081592985188446,
.tn-elem__2372683081590484012067{
position: fixed;
}