
//
// Color system
//


$size: 24px;
$bigsize: 50px;
$bgcolor: #232323;
$borgreen: #a6ae8d;


%slow {
transition: all 0.3s;
}

%hide {
display: none!important;
}

%show {
display: block!important;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


$break-small: 768px;
$break-medium: 1024px;
$break-large: 1240px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == small {
    @media only screen and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == monitors {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(pulseborder) {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@include keyframes(placeHolderShimmer) {
  0%{
    background-position: 100% 0
  }
  100%{
      background-position: -100% 0
  }
}
